
.ContactUsHelper {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    padding: 20px;
    height: 350px;  
    width: 300px;
    background: radial-gradient(circle, rgb(182, 242, 230) 0%, rgb(230, 179, 211) 100%);
    border-radius: 30px;
    transition: all 0.3s ease; 
    box-sizing: border-box;
    font-weight:lighter;
}

/* .ContactUsHelper div {
    width: 100%;
    margin: 10px 0;
    font-size: 1rem;
    color: #000000;
} 

.ContactUsHelper div span
{
    text-align: center;
    margin-bottom: 10px;
} */
.ContactUsHelper .contact
{
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
    gap: 10px;
}
button {
    width: 120px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: rgb(207, 107, 166);
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3 ease;
}
button a 
{
    color: white;
    text-decoration: none;
}
.ContactUsHelper:hover {
    transform: translateY(-12px) scale(1.02);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}