.Explore
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;.Explore {
    display: flex;
    justify-content: center;
    align-items: stretch;   
    gap: 23px;
    flex-wrap: wrap;        
    padding: 50px;
}

.ExploreCard img {
    width: 100%;
    height: 200px;          
    object-fit: contain;    
    padding: 20px;
    background-color: #f6f6f6;
}


.ExploreCard .info-section {
    padding: 15px;
    flex-grow: 1;          
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    flex-wrap: wrap;
    padding: 50px;
}
.Explore {
    display: flex;
    justify-content: center;
    align-items: stretch;   
    gap: 23px;
    flex-wrap: wrap;        
    padding: 50px;
}

.ExploreCard img {
    width: 100%;
    height: 200px;          
    object-fit: contain;    
    padding: 20px;
    background-color: #f6f6f6;
}


.ExploreCard .info-section {
    padding: 15px;
    flex-grow: 1;          
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}