.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 90px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-item {
    text-decoration: none; 
    color: black;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-item:hover {
    color: crimson; 
}