@media (max-width: 768px) {
  .hero-container { 
    flex-direction: column; 
    text-align: center;
    padding: 20px;
  }

  .hero-image img {
    width: 80%; 
    margin-top: 20px;
  }
}
.Hero
{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
.Hero .Hero-content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Hero .Hero-content a img
{
    background: rgba(169, 167, 167, 0.6);
}
.Hero h1
{
    color: rgb(0, 0, 0);
    font-size: 80px;
    max-width: 600px;
    text-align: center;
    font-weight: 1000;
    font-style: oblique;
    font-variant:small-caps;
}
.Hero .Hero-img img
{
    width: 450px;
    height: auto;
}
.Hero .Hero-content img
{
    text-align: center;
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 14px;
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}
